/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    text-align: center;
    padding: 0;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


.stall-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.stall-form-container h2 {
    margin-bottom: 1.5rem;
    color: #333333;
    font-size: 2rem;
    text-align: center;
}

.stall-form-container form {
    border-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.detail-stall label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #555555;
    /* padding: ; */
    margin-right: 10px;
}

.detail-stall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.detail-stall input {
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 20%;
    box-sizing: border-box;
}

.detail-stall input:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 4px rgba(108, 99, 255, 0.4);
}

.button-div {
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-div button {
    background-color: #38b000;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 20%;
    text-align: center;
}

.button-div button:hover {
    background-color: #71e000;
}

@media (max-width: 768px) {
    .stall-form-container form {
        padding: 1.5rem;
        width: 90%;
    }

    .stall-form-container h2 {
        font-size: 0.9rem;
    }

   .button-div button {
        font-size: 0.9rem;
    }
}

.error-message {
    color: red;
    margin-top: 10px;
}
